{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{post.id}}
    {{post.title}}
    {{post.content}}<br>
    <a class='text-blue-500' href='{% url 'blog:update' post.id %}'>Update</a><br>
    <a class='text-blue-500' href='{% url 'blog:home' %}'>Back</a><br>
    <a class='text-blue-500' href='{% url 'blog:delete' post.id %}'>Delete</a>
</body>
</html>
{% endblock content %}